system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
product/priv-app/Velvet/Velvet.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
product/priv-app/MiuiExtraPhoto/MiuiExtraPhoto.apk
product/priv-app/MiuiGallery/MiuiGallery.apk
product/priv-app/GmsCore/GmsCore.apk
product/data-app/MiMediaEditor/MiMediaEditor.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/app/MiGameService/MiGameService.apk
bootRE/boot.elf
cust/app/customized/SuperWallpaperSnowmountain/SuperWallpaperSnowmountain.apk
cust/app/customized/SuperWallpaperMars/SuperWallpaperMars.apk
cust/app/customized/SuperWallpaperEarth/SuperWallpaperEarth.apk
modem.img
odm/lib64/libailab_rawhdr.so
odm/lib64/libxmi_high_dynamic_range_cdsp.so
